root {
	--color-black: #222;
	--color-white: #fdfdfd;
}

*,
*:after,
*:before {
	box-sizing: border-box }

body {
	position: relative;
	display: block;
	background: var(--color-white);
	line-height: 1.6;
	color: var(--color-black);
	font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	font-weight: 300;
	font-size: 18px;
	text-align: center }

a,
a:active,
a:focus {
	color: var(--color-balck);
}

.container__footer,
.container__header {
	position: fixed;
	bottom: 0;
	left: 50%;
	width: 82.5%;
	display: block;
	text-align: center;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
	z-index: 0 }

.container__header {
	bottom: auto;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%) }

.header__title {
	color: var(--color-black);
	text-transform: uppercase;
	font-size: 48px;
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	margin-top: 0 }

.header__description {
	letter-spacing: 1.4px;
	margin: -20px auto 40px }

.header__link:hover {
	text-decoration: none }

.social__list {
	display: block;
	padding: 0;
	text-align: center }

.social__list .social__item {
	display: inline-block;
	padding: 5px 20px }

.social__link {
	color: #222;
	font-size: 20px;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale }

.social__link:hover {
	opacity: .3 }

.social__link.fa-medium,
.social__link.fa-envelope {
	font-size: 18px;
}

.disable-hover,
.disable-hover * {
	pointer-events: none }
